@page "/menuitems/delete"
@attribute [Authorize]

@inject IDbContextFactory<SimpleCMS.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager


<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MenuItem</h4>
    <hr />
    @if (menuitem is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@menuitem.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Position</dt>
            <dd class="col-sm-10">@menuitem.Position</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">MenuId</dt>
            <dd class="col-sm-10">@menuitem.MenuId</dd>
        </dl>
        <EditForm method="post" Model="menuitem" OnValidSubmit="DeleteMenuItem" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(menuitem is null)">Delete</button> |
            <a href="@($"/menuitems?MenuId={MenuId}")">Back to List</a>
        </EditForm>
    }
</div>

@code {
    MenuItem? menuitem;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromQuery]
    public int MenuId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        menuitem = await context.MenuItem.FirstOrDefaultAsync(m => m.Id == Id);

        if (menuitem is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteMenuItem()
    {
        using var context = DbFactory.CreateDbContext();
        context.MenuItem.Remove(menuitem!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo($"/menuitems?MenuId={MenuId}");
    }
}
