@page "/menus"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using SimpleCMS.Model
@using SimpleCMS.Data
@inject IDbContextFactory<SimpleCMS.Data.ApplicationDbContext> DbFactory
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="menus/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Menu">
    <PropertyColumn Property="menu => menu.Title" />
    <PropertyColumn Property="menu => menu.Description" />
    <PropertyColumn Property="menu => menu.Icon" />

    <TemplateColumn Context="menu">
        <a href="@($"menus/edit?id={menu.Id}")">Edit</a> |
        <a href="@($"menus/details?id={menu.Id}")">Details</a> |
        <a href="@($"menus/delete?id={menu.Id}")">Delete</a>
        <a href="@($"/menuitems/create?MenuId={menu.Id}")">Create Items</a>
        <a href="@($"menuitems?MenuId={menu.Id}")">List Items</a>
    </TemplateColumn>
</QuickGrid>

@code {
    ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
